

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">STEXO</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Stexo</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Categories</a></li>
                                        <li class="breadcrumb-item active">Edit</li>
                                    </ol>
                                </div>
                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->
                        
                        
                        <!-- END ROW -->
                    </div>
                    <!-- container-fluid -->

                </div>
                <!-- content -->


                <!-- START ROW -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Active Admins</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Contact</th>
                                                <th scope="col">Location</th>
                                                <th scope="col" colspan="2">Date</th>
                                            </tr>
                                        </thead>                
                                        <tbody> 
                                            <tr>
                                                <td>salom</td>
                                                <td><span class="badge badge-success">Active</span></td>
                                                <td>$9,420,000</td>
                                                <td>
                                                    <div>
                                                        <img src="/images/users/user-2.jpg" alt="" class="thumb-md rounded-circle mr-2"> Salom
                                                    </div>
                                                </td>
                                                <td>Houston, TX 77074</td>
                                                <td>salom</td>

                                                <td>
                                                    <div>
                                                        <a href="/" class="btn btn-primary btn-sm">Edit</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <form method="POST"  action="/" >
                                                    <div>
                                                        <a><button class="btn btn-primary btn-sm"> Delete</button></a>
                                                    </div>
                                                </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                       
                                    </table>
                                    
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- END ROW -->

