
<body>
        <div class="row">
          <!-- o'ng qism -->
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <a href="#">
                  <img style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/3-DwuMeLV7ELmOdoAcP5kfTZQUt0GxO2_medium.jpg" alt=""></a>
              </div>
              <div class="col-md-6 bg-light">
                <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                <a href="#">
                  <h2 class="m-3 bg-light text-dark " style="font-size: 23px;">
                    Имтиёзлар нотўғри қўлланган, абитуриентлар билан қайта ҳисоб-китоб қилиниши керак – ҳуқуқшунос</h2>
                  <p class=" m-3 bg-light text-dark" style="font-size: 18px;">
                  Ҳуқуқшунос ва блогер Хушнудбек Худойбердиев кириш имтиҳонларида турли йўналишларда имтиҳонсиз умумий квота ҳисобидан талабаликка қабул қилинган, танлов ғолиби бўлган спортчи-абитуриентларга алоҳида ўрин ажратилиши кераклигини, абитуриентлар билан қайта ҳисоб-китоб қилиниши зарурлигини ёзмоқда.
                  </p></a>
              </div>
            </div>

            <div class="row"> 

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3" style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/Q8T10CLxQqAdUVXYPbBKpt0csG5gk3Bj_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class=" text-dark" style="font-size: 15px;">Мамлакатни либераллаштириш йўлида. Мирзиёев Ўзбекистонни қанчалик ўзгартирди? </p></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/s7-Hd3kLr3YIbalHoCzZ0PoUwvyhzaeG_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">08:46 / 25.09.2020</p>
                    <a href="#">
                      <p class="  text-dark" style="font-size: 15px;">  1 октябрдан қонунчиликда қандай ўзгаришлар кучга киради? </p></a>
                  </div>
                </div>
              </div>

             
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/Ab_9f94rRFx8rixENuB1IB_4QnTDAQep_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class="  text-dark" style="font-size: 15px;">Супер-контрактга аризалар қабули бошланди. Талабгор абитуриент учун эслатмалар   </p></a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3" style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/WxpusxFwBrvDpYJ0BDYzBxSVSfIMmpZL_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class=" text-dark" style="font-size: 15px;">Абитуриент-2020: Тестни 100 фоиз ечиб ҳам грант асосида талабаликка қабул қилинмаслик мумкинлиги расман исботланди</p></a>
                  </div>
                </div>
              </div>
            </div>
            
            

            <div class="row">
              <div class="col-md-6">
                <a href="#"><h2 class="m-3 pl-4  text-dark text-left " style="font-size: 23px;">Муҳаррир танлови
                </h2></a>
              </div>
              <div class="col-md-6">
                <a href="#"><p class="m-3  text-dark text-right " style="font-size: 18px;">Барчаси</p></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/iXV0ipsF4A5vu6uYMfY7rR1SrmUo767Y_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Коронавирусга қарши курашаётган тиббиёт ходимларига 30 кунлик муддат бўйича иш ҳақи тўланади  </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/fLshNeTCaOQ5K-9TCxagzfuzV2xErt5c_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Наманган вилоятининг янги ҳокими Namangan City лойиҳасини бекор қилди — видео </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/IojBQICSegAMK5Sv6Pgqk8IfnChmRtui_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Ўзбекистонда илк бор авто-мото фестиваль бўлиб ўтмоқда </p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/QbDJ2ikAupbAnUmkOUsgPF2rEF7zyLVB_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">"Ўзбекнефтгаз": Бошқарув раиси бошчилигидаги ишчи гуруҳ Бухородаги инвестицион ва модернизация ишлари ҳолатини ўрганди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/9l-8sJIe4GwJix7mrYlXiPP7TRaGw0ns_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Халқаро ахборотдан эркин умумфойдаланиш куни муносабати билан Халқаро онлайн-конференция ўтказилади </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/WmOkbFYqBrXoxEjMMUuTvS4NKeuheWDF_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Наманганда 4 балли зилзила қайд этилди </p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/MQ12B0q3pzs2OF-H2Oc2hhPZr43ltaLr_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Ўзбекистоннинг собиқ давлат котиби Раҳим Ражабов вафот  </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/3-DwuMeLV7ELmOdoAcP5kfTZQUt0GxO2_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Имтиёзлар нотўғри қўлланган, абитуриентлар билан қайта ҳисоб-китоб қилиниши керак – ҳуқуқшунос </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/Q8T10CLxQqAdUVXYPbBKpt0csG5gk3Bj_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Мамлакатни либераллаштириш йўлида. Мирзиёев Ўзбекистонни қанчалик ўзгартирди?</p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/HB-smITA7tG_II2URMY1DHFVuAGrHnCn_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Ўзбекистонда коронавирусдан зарарланиш ҳолатлари сони 55 мингдан ошди  </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/rdR-fMhIAKm5BpSE8IUjH8acmI2AI1rw_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Самара областидан 940 дан кўпроқ ўзбекистонлик поездда ватанга жўнатилди  </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/s7-Hd3kLr3YIbalHoCzZ0PoUwvyhzaeG_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">1 октябрдан қонунчиликда қандай ўзгаришлар кучга киради? </p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/YokJzlo6qRB-YYbes8FLSFAayLBzoMMR_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Коронавирус: Ўзбекистонда сўнгги бир кунда 500га яқин янги ҳолат аниқланиб, 500дан ортиқ бемор тузалди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/xw1WXpJ6nzCVYBtjTotmcd7XqdeuwbJZ_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Ўзбекистон-Хитой Ҳукуматлараро ҳамкорлик қўмитаси ҳамраислари телефон орқали мулоқот қилдилар</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/MzeKSEb2uo3eiEsO0ghCtrWlHTpqBdvx_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">EPSILON (EDC): Ўзбекистон газ етказиш тизимини ривожлантириш давом этмоқда </p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/kV7uh9n-gyCajXeDt1Or1QByjPL2-A8H_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Прокуратура органлари ходимларига “Меҳр - саховат” кўкрак нишонлари топширилди  </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/bY7RuwWbzfM3dsP2Cr_rjMIwbVo5UJBY_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Маданият вазири бошчилигидаги Ўзбекистон делегацияси Тожикистонга ташриф буюрди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/Ab_9f94rRFx8rixENuB1IB_4QnTDAQep_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Супер-контрактга аризалар қабули бошланди. Талабгор абитуриент учун эслатмалар </p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/C54frrWMvlct1b_jBm08N0OjJqreIby3_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Халқаро ҳамжамият Афғонистонни "терроризм ўчоғи" сифатида кўришни тўхтатиши керак – эксперт</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/YC-9zA_ko5x5_S2SC8uYF-dbmU5onSec_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Амирхон Умаров: Mediacompas дарслари орқали 5 ойда 9 хил касбни ўрганган юртдошларимиз учун бўш иш ўринлари мавжуд!</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/OFmJTe07SJzlWQQsoh4RTkurB-y2E7AK_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">28 сентябрдан Тошкентда анъанавий таълим бериладиган мактаблар сони 187тага етади </p></a>
              </div>
            </div>
            <!-- o'ng blocni oxiri -->
          </div>
          <!-- saidbar -->
          <div class="col-md-3">
            <div class="blokk  border-bottom">
                <!-- <div><div class="bloc bg-dark border rounded-circle" style="width: 18px; height: 18px;"></div></div> -->
                <div > <a href="#"><h2 class="m-3  text-dark " style="font-size: 23px;">Сўнгги янгиликлар</h2></a></div>
            <p class="text-muted m-3" style="font-size:15px;">23:14</p>
            <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
            </div>

            <div class="blokk  border-bottom">
          <p class="text-muted m-3" style="font-size:15px;">16:45</p>
          <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
          </div>

          <div class="blokk  border-bottom">
            <p class="text-muted m-3" style="font-size:15px;">16:45</p>
            <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
            </div>
            <div class="blokk  border-bottom">
              <p class="text-muted m-3" style="font-size:15px;">16:45</p>
              <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
              </div>
              <div class="blokk  border-bottom">
                <p class="text-muted m-3" style="font-size:15px;">16:45</p>
                <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
                </div>
                <div class="blokk  border-bottom">
                  <p class="text-muted m-3" style="font-size:15px;">16:45</p>
                  <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
                  </div>
            <button type="button" class="btn btn-outline-dark p-2 ml-3 px-5">Кўпроқ янгилик </button>
          </div>

          

        </div>

            <div class="row">
      <div class="col-md-9">
        <img src="img/rasm4.png" alt="">
      </div>
      <div class="col-md-3 ">
        <div class="btn btn-group ">
          <button type="button" class="btn btn-dark border rounded-pill  mt-5 p-3  px-4">GOOGLE PLAY</button>
          <button type="button" class="btn btn-dark border rounded-pill mt-5 p-3  px-4">Apple Story</button>
        </div>
      </div>
    </div>

    </div>
</body>
