

        <div class="row">
          <!-- o'ng qism -->
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <a href="#">
                  <img style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/PbokoWS7T3mWMT5roAO7V4VSDllwNVxA_medium.jpg" alt=""></a>
              </div>
              <div class="col-md-6 bg-light">
                <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                <a href="#">
                  <h2 class="m-3 bg-light text-dark " style="font-size: 23px;">
                    Мавсумий касалликларни коронавирусдан қандай фарқлаймиз?</h2>
                  <p class=" m-3 bg-light text-dark" style="font-size: 18px;">
                  Инсониятни энг кўп касалликка учратган вирус бу – грипп. Замонамизга келиб оддийгина «шамоллаш» дея ўтказаётганимиз бу касаллик ўз даврида юз миллионлаб одамларнинг ёстиғини қуритган. Ҳар йили кузатиладиган мавсумий дардларга эътибор бу йил алоҳида бўлиши табиий – сабаби, коронавирус пандемияси ҳамон давом этмоқда.
                  </p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/o3qTN3HKlNUUewNFTGPW8DmR7VCiBD96_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">10:46 / 25.09.2020</p>
                    <a href="#">
                      <p class="  text-dark" style="font-size: 15px;">  Машина ва роботлар ишсизликка сабабчими? Иқтисодиёт қандай ишлаши ҳақида</p></a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3" style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/7G1K7lsnTj1nA9HZO0-6drbd9q6WI2qe_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class=" text-dark" style="font-size: 15px;">Саломатликнинг мунтазам назорат қилиш зарур бўлган 9 кўрсаткичи</p></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/twoFEwStdVsznDAseTLi3LAiLm9b-9Jm_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class="  text-dark" style="font-size: 15px;">  Мавсум бўсағасида: грипп ва ЎРВИдан қандай ҳимояланиш керак?
</p></a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3" style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/QVLwbmb15w2DXw4fZzwUPwZgrfletcCl_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class=" text-dark" style="font-size: 15px;">Дунё офисларга қайтмоқда: жамоат транспортида қандай қоидаларга амал қилиш керак?</p></a>
                  </div>
                </div>
              </div>
            </div>

            
            

            <div class="row">
              <div class="col-md-6">
                <a href="#"><h2 class="m-3 pl-4  text-dark text-left " style="font-size: 23px;">Муҳаррир танлови
                </h2></a>
              </div>
              <div class="col-md-6">
                <a href="#"><p class="m-3  text-dark text-right " style="font-size: 18px;">Барчаси</p></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/hBUHX3CFWBakfPtG9ctTy6Wo5siprJQS_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Кечиктирманг: Пиёда юриш учун 10 сабаб</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/5bIYLZqFEt7OAsTKTERLSbIeouZWhLmT_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Уйқу: саломатликда сув ва ҳаводек зарурат </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/PbokoWS7T3mWMT5roAO7V4VSDllwNVxA_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Мавсумий касалликларни коронавирусдан қандай фарқлаймиз? </p></a>
              </div>
            </div>

              <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/o3qTN3HKlNUUewNFTGPW8DmR7VCiBD96_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Машина ва роботлар ишсизликка сабабчими? Иқтисодиёт қандай ишлаши ҳақида</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/7G1K7lsnTj1nA9HZO0-6drbd9q6WI2qe_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Саломатликнинг мунтазам назорат қилиш зарур бўлган 9 кўрсаткичи </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/a2q-4m5bN9P_FdV8rpAKJWLrTdku4iLM_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Организм учун кислороддан кейин энг зарур модда. Сувнинг аҳамияти ва коронавирусга қарши курашдаги ўрни ҳақида </p></a>
              </div>
            </div>

              <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/twoFEwStdVsznDAseTLi3LAiLm9b-9Jm_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Мавсум бўсағасида: грипп ва ЎРВИдан қандай ҳимояланиш керак?</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/cMcNIi2md7V8AYrcavbnZlBDR5omRMGw_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Японияда узоқ умр кўрувчилар сони рекорд кўрсаткичга етди</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/Qp4YUD2vAEAdA_YPUgnc0YDIOToLde1B_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Тадқиқот: Соғлом турмуш тарзи ақлий заифлик ривожланишини секинлаштиради</p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/QVLwbmb15w2DXw4fZzwUPwZgrfletcCl_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Дунё офисларга қайтмоқда: жамоат транспортида қандай қоидаларга амал қилиш керак?
</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/5ZMSVPknk26JTr_Rw6WOfGkxh3h5mSJc_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Ғолиблар тарихи. Пол Рэнд – график дизайн афсонаси</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/lnDX08NuPKoO7J07X_8R_iFIw_jcamEi_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Юрак учун фойдали 9 та маҳсулот маълум қилинди</p></a>
              </div>
            </div>

             <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/a6hRB73by15aUkCPrJmwtSFsqzCumyvC_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Олимлар инсон учун энг бахтсиз ёшини маълум қилишди 
</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/pQFqWQtIKg6TXhcZbOARBwNRvbmCkfdS_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Кўз олди нега қоронғилашади ва бу нимаси билан хавфли?</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/GAslM7roDHWp6IY2w7tEWq4E121EPQTY_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Нега айрим жамиятлар бой, айримлари камбағал?</p></a>
              </div>
            </div>

             <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/TaU1_gbIx28dJOsXsD5zPYlz9dmdIjuu_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Усмонийлар тарихи: Султон Сулаймон чиндан ҳам Хуррамга қарам бўлганми? 
</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/6lVFe23EQeCbQVHrXg2-nnR3IklWnMqW_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Астмага чалинганлар спорт билан шуғулланиши мумкинми?</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/ObC-caDwj4uWMJ-uTIhsZTcXGCHxlrv6_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Ақл бошда ҳам, ёшда ҳам эмас: Даннинг-Крюгер эффекти нима?</p></a>
              </div>
            </div>

               <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/0O8uCMIfTfpLBEPn8pbR1BOYoQbKVxb-_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Эквадорлик жуфтлик дунёдаги энг кекса жуфтлик деб топилди 
</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/raReKviauPR-3Y1MNi475JuISpxTAqL2_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Иммунитетни оширади ва ўнлаб касалликларни даволашда яхши самара беради — гулқанд ҳақида эшитганмисиз?</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/jFq_tgwtMDQaML6o5nIeOBMD9ItnLY6I_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">«Битта тандирингга алишмасман мен» – Андижоннинг машҳур тандирлари қандай ясалади?</p></a>
              </div>
            </div>

              <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/OO-Xvvoi73q9VUmiOSxcE3bbNbgRd0MF_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Қизил, сариқ, яшил дори: булғор қалампирининг фойдалари
</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/uI6WjU4fOtgGkrnYYl8oMVe1U76QZyqI_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Нега оғиздан нохуш ҳид келади? – сабаб, ечим ва ҳимоя </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/ajSfN_Kge_YcM8GEuTZKIwajCaufFUf-_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Энг муҳим ҳужжат. Паспорт қандай пайдо бўлганди?</p></a>
              </div>
            </div>
            <!-- o'ng blocni oxiri -->
          </div>
          <!-- saidbar -->
          <div class="col-md-3">
            <div class="blokk  border-bottom">
                <!-- <div><div class="bloc bg-dark border rounded-circle" style="width: 18px; height: 18px;"></div></div> -->
                <div > <a href="#"><h2 class="m-3  text-dark " style="font-size: 23px;">Сўнгги янгиликлар</h2></a></div>
            <p class="text-muted m-3" style="font-size:15px;">23:14</p>
            <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
            </div>

            <div class="blokk  border-bottom">
          <p class="text-muted m-3" style="font-size:15px;">16:45</p>
          <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
          </div>

          <div class="blokk  border-bottom">
            <p class="text-muted m-3" style="font-size:15px;">16:45</p>
            <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
            </div>
            <div class="blokk  border-bottom">
              <p class="text-muted m-3" style="font-size:15px;">16:45</p>
              <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
              </div>
              <div class="blokk  border-bottom">
                <p class="text-muted m-3" style="font-size:15px;">16:45</p>
                <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
                </div>
                <div class="blokk  border-bottom">
                  <p class="text-muted m-3" style="font-size:15px;">16:45</p>
                  <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
                  </div>
            <button type="button" class="btn btn-outline-dark p-2 ml-3 px-5">Кўпроқ янгилик </button>
          </div>
        </div>
            <div class="row">
      <div class="col-md-9">
        <img src="/userpage/img/rasm4.png" alt="">
      </div>
      <div class="col-md-3 ">
        <div class="btn btn-group ">
          <button type="button" class="btn btn-dark border rounded-pill  mt-5 p-3  px-4">GOOGLE PLAY</button>
          <button type="button" class="btn btn-dark border rounded-pill mt-5 p-3  px-4">Apple Story</button>
        </div>
      </div>
    </div>



    </div>