<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>kun.uz</title>
</head>
<body>
    <div class="container-fluid m-0 p-0">
        <div class="container boshrasm">
            <a href="https://storage.kun.uz/source/6/w-o2cul_ZC6XrqdSton4QtHkSd7ueAoP.jpg"><img src="https://storage.kun.uz/source/6/IfF62S3GbJyB2fHeXbyK3Mqd9KoF_mzQ.jpg" alt="bir"></a>
        </div>
        <div class="row">
            <div class="col-md-1 p-3 pl-5">
                <a href="https://kun.uz/news/category/uzbekiston?next=1601004407"><img src="https://kun.uz/assets/2ed6cdd/img/kun-uz-logo.svg" alt="bir"></a>

            </div>
            <div class="col-md-7">
                <nav class="navbar navbar-expand-sm bg-white">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                          <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;" href="index.html">ЎЗБЕКИСТОН</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;" href="jahon.html">ЖАҲОН</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;" href="iqtisod.html">ИҚТИСОДИЁТ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;" href="jamiyat.html">ЖАМИЯТ</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;" href="texnologiya.html">ТЕХНОЛОГИЯ</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;" href="sport.html">СПОРТ</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;" href="kun.html">KUN.UZ LIGHT</a>
                          </li>
                          <li class="nav-item text-dark" style="font-family: sans-serif; font-size: 15px;">
                            <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;" href="audio.html">AУДИО ХАБАР</a>
                          </li>
                      </ul>
                </nav>
            </div>

            <div class="col-md-4">
                <nav class="navbar navbar-expand-sm bg-white navbar-dark">
                    <form class="form-inline" >
                      <button class="btn btn-danger border rounded-pill"  type="submit">КОРОНАВИРУС</button>
                      <img class="p-2" src="img/rasm1.png" alt="">
                      <img class="p-2" src="img/rasm2.png" alt="">
                      <button class="btn btn-white border rounded-pill" type="submit">Ўзбекча</button>
                    </form>
                  </nav>
            </div>
        </div>

        <div class="row">
          <div class="col">
            <img src="img/rasm3.png" alt="bir">
          </div>
        </div>

        <div class="row">
          <!-- o'ng qism -->
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <a href="#">
                  <img style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/Dz4iNZLEe3KbPm3aZqcJjhe-f5X7KWmj_medium.jpg" alt=""></a>
              </div>
              <div class="col-md-6 bg-light">
                <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                <a href="#">
                  <h2 class="m-3 bg-light text-dark " style="font-size: 23px;">
                    ОЧЛ. «Пахтакор» «Истиқлол»ни мағлуб этиб, чоракфиналга йўлланма олди</h2>
                  <p class=" m-3 bg-light text-dark" style="font-size: 18px;">
                  Қатарда ўтаётган Осиё Чемпионлар лигаси нимчоракфинал босқичи доирасида «Пахтакор» Эроннинг «Истиқлол» клубини мағлуб этиб, мусобақанинг чоракфинал босқичига йўлланма олди. 
                  </p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/e9FWm5NT9ZoXt3SkJh6em3t2C1AJcG63_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class="  text-dark" style="font-size: 15px;">  «Атлетико» Суареснинг трансферини эълон қилди </p></a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3" style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/SY-2HpHDERj6i9A3s5ABEFrzwWRPv4pC_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class=" text-dark" style="font-size: 15px;">Суарес бир оёғи билан «Атлетико»да. Нега «Ювентус»дамас? </p></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/NoqL_-J1VE61BRACUUgNRx6-hIjEA8Fq_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class="  text-dark" style="font-size: 15px;">  Ярим асрга юзлашган афсона. Миржалол Қосимов билан катта интервью </p></a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#"><img class="p-3" style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/gwYvOhYXbSt-sOCEHCFcWaAP0E5SpJcA_medium.jpg" alt=""></a>
                  </div>
                  <div class="col-md-6 ">
                    <p class="text-muted m-3" style="font-size:15px;">23:14 / 25.09.2020</p>
                    <a href="#">
                      <p class=" text-dark" style="font-size: 15px;">Дунёнинг энг кўп даромад олувчи футболчилари ўнталиги эълон қилинди </p></a>
                  </div>
                </div>
              </div>
            </div>

            
            

            <div class="row">
              <div class="col-md-6">
                <a href="#"><h2 class="m-3 pl-4  text-dark text-left " style="font-size: 23px;">Муҳаррир танлови
                </h2></a>
              </div>
              <div class="col-md-6">
                <a href="#"><p class="m-3  text-dark text-right " style="font-size: 18px;">Барчаси</p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/3U4h1upTG6q2Y3_kSEql_ZIlmvAQVDl1_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Ла Лига. «Реал» сафарда «Бетис»ни мағлуб этиб, мавсумдаги илк ғалабасига эришди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/Dz4iNZLEe3KbPm3aZqcJjhe-f5X7KWmj_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">ОЧЛ. «Пахтакор» «Истиқлол»ни мағлуб этиб, чоракфиналга йўлланма олди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/UtgU63UzLFi0hFdywNZco1uNhTfM2TtA_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">«Ливерпуль» - «Арсенал», «Рома» - «Ювентус», Куман учун илк синов. Ҳафта ўйинлари анонси </p></a>
              </div>
            </div>

              <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/iZ3EJI1tjGpJZNEuhDQzjK8MpmkyvpOb_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Самарқанд ярим марафонини ўтказиш масалалари муҳокама қилинди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/e9FWm5NT9ZoXt3SkJh6em3t2C1AJcG63_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">«Атлетико» Суареснинг трансферини эълон қилди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/7oLPDP9VFdeaT4AtCPXSISJ00g-HT9C5_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">«Формула-1»га янги раҳбар тайинланди </p></a>
              </div>
            </div>
            
             <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/FiK1mZQyCoJbn2zyi7B9fGEvbSQh5c5S_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">«Бавария» қўшимча бўлимда урилган гол эвазига 2-бор УЕФА Суперкубогини қўлга киритди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/PaR1oayYqIMBdIz2_4M9i9w9_5WMje3g_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Европа Лигаси. Шомуродов гол урди, аммо «Ростов» мусобақани тарк этди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/m60TBn7esvBhf39G3IQphKvqCI1GhplY_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Англия лига кубоги. «Арсенал» «Лестер»ни мағлуб этди, «Челси»дан 6:0 ва бошқа натижалар </p></a>
              </div>
            </div>

             <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/7Qp11amNodSPhgI4tW9BfBKHQNtN3cEw_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">«Барселона» Луис Суарес «Атлетико»га ўтганини маълум қилди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/Un9WRy5p756DJXA7is5gms5CH49lbJfH_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">ОЧЛ. «Пахтакор» Машариповнинг голи эвазига «Шаҳри Худрў»ни мағлуб этди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/dET1NDmu6FaXwtIfvPZl9l01gOhXr26z_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">«Ал Ҳилол» ОЧЛдан четлатилди, «Пахтакор» эса гуруҳда 1-ўринни эгаллади </p></a>
              </div>
            </div>

           
            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/SY-2HpHDERj6i9A3s5ABEFrzwWRPv4pC_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Суарес бир оёғи билан «Атлетико»да. Нега «Ювентус»дамас?</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/c1q-r50NEsax84_WBUBPKPfdjpJNeILa_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">«Ювентус» Мората трансферини эълон қилди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/4l__Vgx9mnED1eqdzpV-_Fp8HFMwuW3O_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Шота Арвеладзеда коронавирус аниқланди</p></a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/2b39lprmMCfku_rFn-1lEAI3bwp5EZUg_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">«Интер» Видаль трансферини эълон қилди</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/Xg2t_JroDo_O8NsyQK5Ztl0IdPzxHeXD_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Азиз Абдуҳакимов халқаро автомобилсиз кунда ишга велосипедда келди. Cоғлом турмуш тарзига доир қарор чиқиши кутилмоқда </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/FD-kxyHmgm_K2fH0ra4d-pLhw1iMgKNj_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Ла Лига. «Реал» янги мавсумни дуранг билан бошлади</p></a>
              </div>
            </div>

             <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/eHpaG2FSLCM9uOebPHnd34g-womQp9hs_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">ОЧЛ. «Пахтакор» яна дуранг ўйнади ва гуруҳдан чиқиш масаласини сўнгги турга қолдирди</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/vKYTP4lCFUKo8p9wL4k8Lylu3LgUyBEg_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">“Тур де Франс” ғолиби аниқланди </p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/ua0KQLKaXLL1i1SjbEf5O6uGEgiFvJhI_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">АПЛ. Четлатиш, пенальти, дубль. «Ливерпуль» Лондонда «Челси»ни мағлуб этди</p></a>
              </div>
            </div>

               <div class="row">
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/dNLF8UBp0ZML4QccNIjfYjBWCOxTiIyI_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Денис Истомин коронавирус юқтириб олди. У Ролан Гаррос турнирини ўтказиб юборади</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/45TfF42RL0kdd91Lj1lAr6J5CGW8B4pn_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Виталий Денисов расман «Томь» футболчисига айланди</p></a>
              </div>
              <div class="col-md-4 p-3">
                <a href="#"><img class="p-3"  style="width: 100%;" src="https://storage.kun.uz/source/thumbnails/_medium/6/2_xUO5PxIkXXgF5rKoCGGbkAKLLapItX_medium.jpg" alt=""></a>
                <a href="#"><p class=" text-dark" style="font-size: 15px;">Бэйл ва Регилон «Тоттенҳ</p></a>
              </div>
            </div>
            <!-- o'ng blocni oxiri -->
          </div>
          <!-- saidbar -->
          <div class="col-md-3">
            <div class="blokk  border-bottom">
                <!-- <div><div class="bloc bg-dark border rounded-circle" style="width: 18px; height: 18px;"></div></div> -->
                <div > <a href="#"><h2 class="m-3  text-dark " style="font-size: 23px;">Сўнгги янгиликлар</h2></a></div>
            <p class="text-muted m-3" style="font-size:15px;">23:14</p>
            <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
            </div>

            <div class="blokk  border-bottom">
          <p class="text-muted m-3" style="font-size:15px;">16:45</p>
          <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
          </div>

          <div class="blokk  border-bottom">
            <p class="text-muted m-3" style="font-size:15px;">16:45</p>
            <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
            </div>
            <div class="blokk  border-bottom">
              <p class="text-muted m-3" style="font-size:15px;">16:45</p>
              <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
              </div>
              <div class="blokk  border-bottom">
                <p class="text-muted m-3" style="font-size:15px;">16:45</p>
                <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
                </div>
                <div class="blokk  border-bottom">
                  <p class="text-muted m-3" style="font-size:15px;">16:45</p>
                  <a href="#"><p  class=" m-3  text-dark" style="font-size: 18px;"> Харьков ҳалокати: Украинада мотам эълон қилинди, барча Ан-26 парвозлари тўхтатилди</p></a>
                  </div>
            <button type="button" class="btn btn-outline-dark p-2 ml-3 px-5">Кўпроқ янгилик </button>
          </div>

          

        </div>

           <div class="row">
      <div class="col-md-9">
        <img src="img/rasm4.png" alt="">
      </div>
      <div class="col-md-3 ">
        <div class="btn btn-group ">
          <button type="button" class="btn btn-dark border rounded-pill  mt-5 p-3  px-4">GOOGLE PLAY</button>
          <button type="button" class="btn btn-dark border rounded-pill mt-5 p-3  px-4">Apple Story</button>
        </div>
      </div>
    </div>

    <footer class="bg-black" >
      <div class="row bg-dark tex-light ">
        <div class="col-md-9">
          <nav class="navbar bg-dark navbar-expand-md  navbar-dark">

            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link p-3 tex-white" href="#">Сайт ҳақида</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-3 tex-white" href="#"> RSS </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-3 tex-white" href="#"> Алоқа</a>
              </li>

              <li class="nav-item">
                <a class="nav-link p-3 tex-white" href="#">Реклама</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-3 tex-white" href="#">  Кун мавзулари </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-3 tex-white" href="#">Kun.uz жамоаси</a>
              </li>
            </ul>
          
          </nav>

          <p class="text-white ml-3 mt-0 pt-0 " style="font-size: 16px;"> «KUN.UZ» сайтида эълон қилинган материаллардан нусха кўчириш, тарқатиш ва бошқа шаклларда фойдаланиш фақат таҳририят ёзма розилиги билан амалга оширилиши мумкин.</p>
            <p class="text-white ml-3 mt-0 pt-0 " style="font-size: 16px;">Гувоҳнома: №0987. Берилган санаси: 22.06.2015 йил. Муассис: «WEB EXPERT» МЧЖ. Таҳририят манзили: 100043, Тошкент шаҳри, К. Ёрматов кўчаси, 12-уй. Электрон манзил: info@kun.uz.</p>
            <p class="text-white ml-3 mt-0 pt-0 " style="font-size: 16px;">Сайтда эълон қилинаётган муаллифлик мақолаларида келтирилган фикрлар муаллифга тегишли ва улар Kun.uz таҳририяти нуқтаи назарини ифода этмаслиги мумкин</p>
        </div>
        <div class="col-md-3">
          <a href="#">
            <img src="img/rasm5.png" class="mt-5" style="padding-top: 80px; padding-left: 40px;" alt="">
          </a>
        </div>
      </div>
    </footer>




    </div>
</body>
</html>