
<div class="col-md-4 p-3">
  <a ><img class="p-3"  style="width: 100%;" src="<%= data.news.image%>" alt=""></a>
  <a "><p class=" text-dark" style="font-size: 15px;"><%= data.news.title%></p></a>
  <a "><p class=" text-dark" style="font-size: 15px;"><%= data.news.description%></p></a>
</div>